# Ebay Germany Used Cars 

Original Dataset: Taken from [Used cars database](https://www.kaggle.com/orgesleka/used-cars-database/data)<br>
Dataset: [Sample used](https://www.kaggle.com/piumiu/exploring-ebay-car-sales-data)<br>
Size: 50,000 out of the original 370,000<br>
Purpose: To clean and explore the dataset while learning about how the pandas library is intigrated with jupyter notebook.<br>

In [1]:
# importing the dataset
# file is named 'autos.csv' located in the same directory as this file

import pandas as pd

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [3]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

From printing out the info associated with the dataframe we see that, vehicleType, gearbox, model, fuelType, notRepairedDamage all have missing values. There are 20 total columns, 5 of which are of the int type.
<br><br>
From our first few values we can determine that our dataset is not in english.

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
col_headers = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

autos.columns = col_headers

Camelcase isn't standard for most python users so we've converted it into snakecase to maintain consistency with the rest of our code.

In [6]:
# Used for analysis commited out because it would just be a long slow of information when I push this onto github and view it
# for col in col_headers:
#     print(col)
#     val = autos[col].value_counts()
#     print(val)
#     autos[col].head(3)
#     print('\n')
#     print('\n')

In [7]:
autos.drop(['seller', 'offer_type', 'nr_of_pictures', 'date_crawled'], axis=1, inplace=True)

In [8]:
autos['price'] = autos['price'].str.replace('$', '').str.replace(',', '').astype(float)
autos['odometer'] = autos['odometer'].str.replace('km', '').str.replace(',', '').astype(int)
autos.rename({'odometer': 'odometer_km'}, axis=1, inplace=True)

The following columns have been removed due to the lack of variable data: `seller`, `offer_type`, `nr_of_pictures`<br>
`date_crawled` has been removed due to being unimportant in analysing the cars themselves.
<br>
`price` has been cleaned up and now stores its data as a float.
<br>
`odometer` has been renamed to `odometer_km`, cleaned up and now stores its data as an integer.

In [9]:
def filter_minmax(mi, ma, col):
    return (autos[col] > mi) & (autos[col] < ma)

In [10]:
#The tenth most expensive car sold of all time was sold at the price of 3 million so we'll use this as our maximum
maximum_price = 1666666

#Because this is a used car dealership we'll start including values about 1/3 the average of a new car. 
minimum_price = 6666

price = autos[filter_minmax(minimum_price, maximum_price, 'price')]['price']
price_average = price.mean()
price_median = price.median()
price_most_reoccuring = 8500 # was done using .value_count() on price

print('FOR CARS RANGING BETWEEN {} AND {}'.format(minimum_price, maximum_price))
print('=====')

print(f'AVERAGE COST: {price_average:,.2f}')
print(f'MEDIAN COST: {price_median:,.2f}')
print(f'MOST FREQUENT COST: {price_most_reoccuring:,.2f}')

FOR CARS RANGING BETWEEN 6666 AND 1666666
=====
AVERAGE COST: 15,395.58
MEDIAN COST: 11,600.00
MOST FREQUENT COST: 8,500.00

Using [this](https://www.motor1.com/features/308149/most-expensive-new-cars-ever/) list we took the least expensive, expensive car and used that as our maximum. The minimum price is set to a 1/3 of the price of an average brand new car. Given that this data set has its origins in Germany we then converted the price to DEM by dividing 3 million (our maximum) and 12,000 (our minimum) by 1.8 which would be the conversion from USD to DEM.<br><br>
Using the methods build into the pandas DataFrame and Series classes we find:
- The average cost - 15,000 DEM
- The median cost - 11,600 DEM
- The most frequent pricing - 8,500 DEM with 227 entries in our dataset of 14,000 within the specified price range.

In [11]:
ad_created = autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
reg_year = autos['registration_year'].value_counts().sort_index()
reg_month = autos['registration_month'].value_counts(normalize=True, dropna=False).sort_index()

In [12]:
reg_year

1000       1
1001       1
1111       1
1500       1
1800       2
1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      34
1961       6
1962       4
1963       9
        ...
2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, Length: 97, dtype: int64

I don't know much about cars, and currently I don't own a car, but registration year seems to be when the car was first registered, the dataset was taken in 2016 so everything past 2017 is either incorrect or preordered. Going furthur into the future everything past the 2800 point is gurentee to be incorrect, same with cars registered before the 1800s. <br><br>
A bit skepticle for cars in the early 20th century but it's possible seeing the modern car was made in 1886.

In [13]:
reg_month * 100 # 100 to see the values in actual percentages

0     10.150
1      6.564
2      6.016
3     10.142
4      8.204
5      8.214
6      8.736
7      7.898
8      6.382
9      6.778
10     7.302
11     6.720
12     6.894
Name: registration_month, dtype: float64

Other than the fact that there are 13 months \[0 or 12 probably means null] there doesn't seem to be any outliers in this data slice.

In [14]:
ad_created * 100

2015-06-11    0.002
2015-08-10    0.002
2015-09-09    0.002
2015-11-10    0.002
2015-12-05    0.002
2015-12-30    0.002
2016-01-03    0.002
2016-01-07    0.002
2016-01-10    0.004
2016-01-13    0.002
2016-01-14    0.002
2016-01-16    0.002
2016-01-22    0.002
2016-01-27    0.006
2016-01-29    0.002
2016-02-01    0.002
2016-02-02    0.004
2016-02-05    0.004
2016-02-07    0.002
2016-02-08    0.002
2016-02-09    0.004
2016-02-11    0.002
2016-02-12    0.006
2016-02-14    0.004
2016-02-16    0.002
2016-02-17    0.002
2016-02-18    0.004
2016-02-19    0.006
2016-02-20    0.004
2016-02-21    0.006
              ...
2016-03-09    3.324
2016-03-10    3.186
2016-03-11    3.278
2016-03-12    3.662
2016-03-13    1.692
2016-03-14    3.522
2016-03-15    3.374
2016-03-16    3.000
2016-03-17    3.120
2016-03-18    1.372
2016-03-19    3.384
2016-03-20    3.786
2016-03-21    3.772
2016-03-22    3.280
2016-03-23    3.218
2016-03-24    2.908
2016-03-25    3.188
2016-03-26    3.256
2016-03-27    3.090
2016-03-28    3.496
2016-03-29    3.414
2016-03-30    3.344
2016-03-31    3.192
2016-04-01    3.380
2016-04-02    3.508
2016-04-03    3.892
2016-04-04    3.688
2016-04-05    1.184
2016-04-06    0.326
2016-04-07    0.128
Name: ad_created, Length: 76, dtype: float64

The general trend here seems to be cars tend to get sold the longer they're up.(Or atleast get taken down by the owner) Don't really think thats at all surprising.

In [15]:
years = autos['registration_year']
lowest_year = 1950
highest_year = 2016
reg_year = years.loc[(years >= lowest_year) & (years <= highest_year)].value_counts(normalize=True).sort_index()
reg_year * 100

1950    0.006249
1951    0.004166
1952    0.002083
1953    0.002083
1954    0.004166
1955    0.004166
1956    0.010416
1957    0.004166
1958    0.008333
1959    0.014582
1960    0.070827
1961    0.012499
1962    0.008333
1963    0.018748
1964    0.024998
1965    0.035414
1966    0.045830
1967    0.056245
1968    0.054162
1969    0.039580
1970    0.093742
1971    0.056245
1972    0.072911
1973    0.054162
1974    0.049996
1975    0.039580
1976    0.056245
1977    0.045830
1978    0.097909
1979    0.072911
          ...
1987    0.156237
1988    0.295809
1989    0.377052
1990    0.822848
1991    0.741605
1992    0.814515
1993    0.927006
1994    1.374885
1995    2.735189
1996    3.008083
1997    4.224648
1998    5.109991
1999    6.249479
2000    6.986918
2001    5.630781
2002    5.276644
2003    5.680777
2004    5.701608
2005    6.280727
2006    5.641197
2007    4.799600
2008    4.647529
2009    4.370469
2010    3.326806
2011    3.403883
2012    2.756020
2013    1.679027
2014    1.387384
2015    0.831181
2016    2.741438
Name: registration_year, Length: 67, dtype: float64

To clean up our registration year a bit we'll make sure our data is as correct as can be without taking out too many data points. <br><br>
Our lower bound will be 1950, it could potentially be lower but cars made prior to the 1950s have to be maintained incredibly well.<br>Our upper bound will be 2016 because that's the year that this dataset was screen scrapped, while it removes quite a bit of datapoints from potential preorders for the 2017 year this ensures our data is more accurate by not including potential incorrect data from the future.
<br><br>
From this data and our previous analysis of the registration year we can conclude that most cars being sold have been registered for at least 10 years, with lower sell rates the closer it is to the most recent year.

In [16]:
brands_average_price = {}
brands_average_distance = {}

brands = ['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford']

# filtering the prices
autos = autos[filter_minmax(5000, maximum_price, 'price')]

# filtering the registration year
autos = autos[filter_minmax(1950, 2017, 'registration_year')]

for brand in brands:
    autos_filter = autos[autos['brand'] == brand]
    autos_fil_price_avg = autos_filter['price'].mean()
    autos_fil_dist_avg = autos_filter['odometer_km'].mean()
    
    brands_average_price[brand] = autos_fil_price_avg
    brands_average_distance[brand] = autos_fil_dist_avg

In [17]:
for brand, price in brands_average_price.items():
    print(f'The average cost of a {brand} vehicle is ${price:,.2f}.')
    print()

The average cost of a volkswagen vehicle is $12,392.59.

The average cost of a opel vehicle is $9,385.39.

The average cost of a bmw vehicle is $13,999.85.

The average cost of a mercedes_benz vehicle is $14,779.38.

The average cost of a audi vehicle is $15,127.31.

The average cost of a ford vehicle is $12,920.77.

In [18]:
for brand, distance in brands_average_distance.items():
    print(f'The average distance that a {brand} vehicle drove is {distance:,.2f}km.')
    print()

The average distance that a volkswagen vehicle drove is 107,437.54km.

The average distance that a opel vehicle drove is 91,081.24km.

The average distance that a bmw vehicle drove is 123,249.18km.

The average distance that a mercedes_benz vehicle drove is 118,777.14km.

The average distance that a audi vehicle drove is 115,725.84km.

The average distance that a ford vehicle drove is 91,714.91km.

We first filter down our dataset to remove outliers. Our first filter filtered for all cars within a certain price range, the range we choose was 5000 to `maximum_price` (1,666,666 the same max price as before). We choose 5000 instead of the previous min to give us more data to work with for the second filter. Our second filter removes all entries that are not within the registration years 1950-2016. <br><br> We then choose multiple brands, the brands I choose `['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford']` are the 6 brands with the most entries this means that the results will be less skewed compare to analysing brands with few entries.<br><br>We then loop through our dataset 6 times, one for each brand and filter the dataset furthur by selecting only points where the brand is equal to the brand we're looking for. We then extract out the `price` and the `odometer_km` from the data set and use the `.mean()` method to calculate the average price and distance. Finally we insert the results into two dictionaries, brands_average_price for the prices and brands_average_distance for the distance.

From this analysis we can see that audi, mercedes benz, bmw are the three most expensive of the six, volkswagen and ford are the in the middle of price ranges and opel vehicles are on the cheaper end.<br><br>

For the average distance traveled audi, mercedes benz, bmw on average have been driven more than the other three choices with volkswagen coming in forth. Ford and opel vehicles have been driven less than the other options with almost identical km driven with ~91km each.