# Ebay Germany Used Cars 

Original Dataset: Taken from [Used cars database](https://www.kaggle.com/orgesleka/used-cars-database/data)<br>
Dataset: [Sample used](https://www.kaggle.com/piumiu/exploring-ebay-car-sales-data)<br>
Size: 50,000 out of the original 370,000<br>
Purpose: To clean and explore the dataset while learning about how the pandas library is intigrated with jupyter notebook.<br>

In [1]:
# importing the dataset
# file is named 'autos.csv' located in the same directory as this file

import pandas as pd

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [3]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

From printing out the info associated with the dataframe we see that, vehicleType, gearbox, model, fuelType, notRepairedDamage all have missing values. There are 20 total columns, 5 of which are of the int type.
<br><br>
From our first few values we can determine that our dataset is not in english.

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
col_headers = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

autos.columns = col_headers

Camelcase isn't standard for most python users so we've converted it into snakecase to maintain consistency with the rest of our code.

In [6]:
for col in col_headers:
    print(col)
    val = autos[col].value_counts()
    print(val)
    autos[col].head(3)
    print('\n')
    print('\n')

date_crawled
2016-03-30 17:37:35    3
2016-04-02 11:37:04    3
2016-04-04 16:40:33    3
2016-03-23 19:38:20    3
2016-04-02 15:49:30    3
2016-03-16 21:50:53    3
2016-03-05 16:57:05    3
2016-03-21 16:37:21    3
2016-03-09 11:54:38    3
2016-03-21 20:37:19    3
2016-03-12 16:06:22    3
2016-03-30 19:48:02    3
2016-03-27 22:55:05    3
2016-03-23 18:39:34    3
2016-03-29 23:42:13    3
2016-03-08 10:40:35    3
2016-03-11 22:38:16    3
2016-03-10 15:36:24    3
2016-03-19 17:36:18    3
2016-03-14 20:50:02    3
2016-03-22 09:51:06    3
2016-03-25 19:57:10    3
2016-03-09 21:40:49    2
2016-03-31 14:45:30    2
2016-03-11 19:42:12    2
2016-03-08 13:25:17    2
2016-03-27 14:50:20    2
2016-03-12 11:47:03    2
2016-03-29 19:58:22    2
2016-03-12 10:54:19    2
                      ..
2016-03-11 20:59:05    1
2016-03-20 00:49:48    1
2016-03-12 23:54:33    1
2016-03-26 14:49:23    1
2016-03-20 13:43:29    1
2016-03-05 14:39:54    1
2016-03-30 10:49:59    1
2016-03-19 12:55:28    1
2016-03-23 12:47:35    1
2016-03-25 19:50:59    1
2016-03-20 14:39:48    1
2016-04-03 10:45:29    1
2016-03-23 12:57:57    1
2016-03-26 22:55:31    1
2016-03-29 13:53:57    1
2016-03-24 17:48:01    1
2016-03-21 18:48:09    1
2016-03-14 20:48:22    1
2016-03-07 22:52:00    1
2016-03-23 23:56:20    1
2016-03-24 13:46:40    1
2016-03-14 15:50:58    1
2016-03-24 13:53:25    1
2016-03-16 12:51:52    1
2016-04-01 15:45:44    1
2016-04-01 16:54:55    1
2016-03-23 12:51:04    1
2016-04-01 00:55:23    1
2016-03-12 06:04:02    1
2016-03-12 12:51:16    1
Name: date_crawled, Length: 48213, dtype: int64




name
Ford_Fiesta                                                          78
BMW_316i                                                             75
Volkswagen_Golf_1.4                                                  75
BMW_318i                                                             72
Volkswagen_Polo                                                      72
Opel_Corsa                                                           71
BMW_320i                                                             71
Renault_Twingo                                                       70
Volkswagen_Golf                                                      57
Opel_Corsa_1.2_16V                                                   56
BMW_116i                                                             53
Opel_Corsa_B                                                         52
Peugeot_206                                                          52
Ford_Focus                                                           50
Volkswagen_Polo_1.2                                                  48
Volkswagen_Golf_1.6                                                  47
Opel_Astra                                                           43
Opel_Corsa_1.0_12V                                                   41
Volkswagen_Passat_Variant_1.9_TDI                                    39
BMW_320d_DPF_Touring                                                 38
BMW_520i                                                             37
Opel_Astra_1.6                                                       35
Audi_A4_Avant_2.0_TDI_DPF                                            34
Renault_Twingo_1.2                                                   33
Volkswagen_Golf_1.9_TDI                                              32
Fiat_Punto                                                           32
Ford_Mondeo                                                          32
Ford_Ka                                                              30
Renault_Clio                                                         29
Ford_Fiesta_1.3                                                      29
                                                                     ..
Suzuki_Wagon__2006_1_3_style/35_Klima_ESP__super_Aust.TÜV_u.m.NEU     1
Ideales_Anfaengerauto                                                 1
Honda_CRX_delsol_EH6                                                  1
Fiat_Bravo_100_SX                                                     1
Renault_Master_dCi_150_FAP_L3H2_2WD_VA                                1
twingo_SPORT__tuev:04/2017__top_auto__zuverlaessig_                   1
Volkswagen_VW_Golf_2_GT_Spezial                                       1
Renault_Espace__1_9_Cdti_120_Ps_VB                                    1
Volvo_850_2.5_10V_KLIMA/LEDER/_TÜV_06_2017                            1
Ford_Fokus_Checkheftgepflegt                                          1
BMW_525D_Touring___TOP_gepflegt___XENON___Facelift_Modell_!!!         1
BMW_E46_*_320i_Cabrio_*_M_Paket_*_Navi                                1
Sehr_gepflegter_Mercedes_e260_garagenfahrzeug                         1
Ford_Escort_Cabrio_RS2000_XR3I_zum_Herrichten_oder_Schlachten         1
Ford_Mondeo_Turnier_2.0_TDCi_Black_Magic_Navi_Klima                   1
YA126_DAF_Berge__Werstatt_und_Manschaft_Wagen                         1
Renault_Clio_1.2_Campus_aus_1_Hand___Inspektion_neu___BJ_2010         1
Fiat_Cobo_Kastenwagen_von_2013                                        1
AUDI_S5_Cabrio_/_3.0_Liter_/_Automatik_/_Xenon_+_Garantie             1
Vw_troureg_4_2__V_8_Diesel_Unfall                                     1
Volvo_V70_2.4D_Kinetic__Zahnriemen_NEU!_unfallfrei                    1
Golf_4_Kombi_Automatik_TÜV_bis_11/17                                  1
Opel_Astra_im_guten_Zustand                                           1
Kia_Rio_1.5_16V_Kombi__TÜV_NEU__Klima__wenig_km                       1
AUDI_A3_inklusive_Sommerreifen_auf_Alu_Felgen                         1
Ford_Transit_Mit_Tuev                                                 1
Volkswagen_Golf_1.4_TSI_DSG_Tuev_Neu_Rueck.Kamera_Navi                1
Mercedes_Benz_C_220_CDI_Elegance_DPF                                  1
Volkswagen_Passat_1.9TDI_grosses_NAVI_Scheckheft_8_fach_ber.          1
Volkswagen_Passat_CC_2.0_Blue_TDI                                     1
Name: name, Length: 38754, dtype: int64




seller
privat        49999
gewerblich        1
Name: seller, dtype: int64




offer_type
Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64




price
$0          1421
$500         781
$1,500       734
$2,500       643
$1,200       639
$1,000       639
$600         531
$800         498
$3,500       498
$2,000       460
$999         434
$750         433
$900         420
$650         419
$850         410
$700         395
$4,500       394
$300         384
$2,200       382
$950         379
$1,100       376
$1,300       371
$3,000       365
$550         356
$1,800       355
$5,500       340
$350         335
$1,250       335
$1,600       327
$1,999       322
            ...
$17,550        1
$789           1
$5,740         1
$42,800        1
$1,209         1
$29,989        1
$20,222        1
$28,400        1
$115,991       1
$73,900        1
$51,990        1
$4,149         1
$2,849         1
$42,750        1
$40,800        1
$30,950        1
$3,501         1
$1,579         1
$11,970        1
$5,895         1
$11,989        1
$5,248         1
$13,383        1
$2,495         1
$79            1
$188           1
$11,540        1
$45,800        1
$2,175         1
$6,170         1
Name: price, Length: 2357, dtype: int64




abtest
test       25756
control    24244
Name: abtest, dtype: int64




vehicle_type
limousine     12859
kleinwagen    10822
kombi          9127
bus            4093
cabrio         3061
coupe          2537
suv            1986
andere          420
Name: vehicle_type, dtype: int64




registration_year
2000    3354
2005    3015
1999    3000
2004    2737
2003    2727
2006    2708
2001    2703
2002    2533
1998    2453
2007    2304
2008    2231
2009    2098
1997    2028
2011    1634
2010    1597
2017    1453
1996    1444
2012    1323
2016    1316
1995    1313
2013     806
2014     666
1994     660
2018     492
1993     445
2015     399
1990     395
1992     391
1991     356
1989     181
        ...
1950       3
1955       2
9000       2
1954       2
1800       2
1957       2
1941       2
1951       2
1934       2
4100       1
4800       1
1953       1
1111       1
1927       1
6200       1
4500       1
1943       1
5911       1
1939       1
1938       1
2800       1
8888       1
1000       1
1500       1
1948       1
1931       1
1929       1
1001       1
9996       1
1952       1
Name: registration_year, Length: 97, dtype: int64




gearbox
manuell      36993
automatik    10327
Name: gearbox, dtype: int64




power_ps
0        5500
75       3171
60       2195
150      2046
140      1884
101      1756
90       1746
116      1646
170      1492
105      1410
125       964
136       955
102       868
163       847
54        759
143       733
131       713
122       710
110       694
109       620
50        604
80        560
177       542
58        506
120       501
115       481
69        475
45        397
95        382
68        380
         ...
999         1
455         1
442         1
1082        1
678         1
454         1
187         1
262         1
441         1
585         1
460         1
5867        1
9011        1
268         1
236         1
1367        1
24          1
12          1
1771        1
1003        1
587         1
696         1
952         1
1016        1
682         1
650         1
490         1
362         1
153         1
16312       1
Name: power_ps, Length: 448, dtype: int64




model
golf                  4024
andere                3528
3er                   2761
polo                  1757
corsa                 1735
astra                 1454
passat                1425
a4                    1291
5er                   1183
c_klasse              1172
e_klasse              1001
a3                     882
a6                     835
focus                  811
fiesta                 769
transporter            704
twingo                 677
2_reihe                621
a_klasse               588
fortwo                 574
vectra                 574
1er                    538
clio                   509
3_reihe                508
mondeo                 496
touran                 468
punto                  458
zafira                 423
ka                     370
megane                 362
                      ...
300c                    12
range_rover_sport       12
forester                12
move                    10
terios                  10
lybra                   10
mii                     10
r19                     10
range_rover              9
90                       9
nubira                   8
amarok                   7
exeo                     7
9000                     6
delta                    6
crossfire                6
range_rover_evoque       5
croma                    5
lodgy                    5
145                      5
materia                  4
samara                   4
charade                  3
v60                      3
kappa                    2
kalina                   2
b_max                    1
rangerover               1
200                      1
i3                       1
Name: model, Length: 245, dtype: int64




odometer
150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64




registration_month
0     5075
3     5071
6     4368
5     4107
4     4102
7     3949
10    3651
12    3447
9     3389
11    3360
1     3282
8     3191
2     3008
Name: registration_month, dtype: int64




fuel_type
benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuel_type, dtype: int64




brand
volkswagen        10687
opel               5461
bmw                5429
mercedes_benz      4734
audi               4283
ford               3479
renault            2404
peugeot            1456
fiat               1308
seat                941
skoda               786
mazda               757
nissan              754
citroen             701
smart               701
toyota              617
sonstige_autos      546
hyundai             488
volvo               457
mini                424
mitsubishi          406
honda               399
kia                 356
alfa_romeo          329
porsche             294
suzuki              293
chevrolet           283
chrysler            181
dacia               129
daihatsu            128
jeep                110
subaru              109
land_rover           99
saab                 80
daewoo               79
trabant              78
jaguar               77
rover                69
lancia               57
lada                 31
Name: brand, dtype: int64




unrepaired_damage
nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64




ad_created
2016-04-03 00:00:00    1946
2016-03-20 00:00:00    1893
2016-03-21 00:00:00    1886
2016-04-04 00:00:00    1844
2016-03-12 00:00:00    1831
2016-03-14 00:00:00    1761
2016-04-02 00:00:00    1754
2016-03-28 00:00:00    1748
2016-03-07 00:00:00    1737
2016-03-29 00:00:00    1707
2016-03-19 00:00:00    1692
2016-04-01 00:00:00    1690
2016-03-15 00:00:00    1687
2016-03-30 00:00:00    1672
2016-03-08 00:00:00    1667
2016-03-09 00:00:00    1662
2016-03-22 00:00:00    1640
2016-03-11 00:00:00    1639
2016-03-26 00:00:00    1628
2016-03-23 00:00:00    1609
2016-03-31 00:00:00    1596
2016-03-25 00:00:00    1594
2016-03-10 00:00:00    1593
2016-03-17 00:00:00    1560
2016-03-27 00:00:00    1545
2016-03-16 00:00:00    1500
2016-03-24 00:00:00    1454
2016-03-05 00:00:00    1152
2016-03-13 00:00:00     846
2016-03-06 00:00:00     756
                       ...
2016-01-27 00:00:00       3
2016-02-09 00:00:00       2
2016-01-10 00:00:00       2
2016-02-02 00:00:00       2
2016-02-14 00:00:00       2
2016-02-24 00:00:00       2
2016-02-26 00:00:00       2
2016-02-05 00:00:00       2
2016-02-20 00:00:00       2
2016-02-18 00:00:00       2
2015-08-10 00:00:00       1
2016-01-07 00:00:00       1
2015-06-11 00:00:00       1
2016-02-16 00:00:00       1
2016-01-16 00:00:00       1
2016-01-29 00:00:00       1
2016-02-07 00:00:00       1
2016-01-13 00:00:00       1
2016-02-08 00:00:00       1
2016-02-01 00:00:00       1
2016-02-17 00:00:00       1
2016-01-03 00:00:00       1
2016-01-22 00:00:00       1
2015-09-09 00:00:00       1
2015-12-05 00:00:00       1
2016-01-14 00:00:00       1
2016-02-22 00:00:00       1
2016-02-11 00:00:00       1
2015-12-30 00:00:00       1
2015-11-10 00:00:00       1
Name: ad_created, Length: 76, dtype: int64




nr_of_pictures
0    50000
Name: nr_of_pictures, dtype: int64




postal_code
10115    109
65428    104
66333     54
45888     50
44145     48
48599     47
65933     45
65719     44
15344     43
37154     42
50354     42
52525     42
38518     40
44339     40
32791     40
51065     40
77933     40
45881     40
30419     40
25524     39
33378     39
32257     39
46325     39
53773     38
61169     38
85055     38
60386     37
65929     37
52477     37
21423     37
        ...
76872      1
88486      1
82405      1
74249      1
7927       1
29379      1
86759      1
19300      1
56182      1
31618      1
29571      1
17349      1
31714      1
76776      1
91233      1
40670      1
17509      1
74921      1
54455      1
97506      1
95491      1
9481       1
56598      1
91489      1
54647      1
23942      1
83365      1
95683      1
97794      1
67585      1
Name: postal_code, Length: 7014, dtype: int64




last_seen
2016-04-07 06:17:27    8
2016-04-07 03:16:17    7
2016-04-06 21:17:51    7
2016-04-06 06:17:24    7
2016-04-06 13:17:03    6
2016-04-06 07:46:03    6
2016-04-06 15:17:56    6
2016-04-06 02:17:26    6
2016-04-06 14:17:04    6
2016-04-06 02:16:12    6
2016-04-06 10:17:12    6
2016-04-06 19:15:21    6
2016-04-06 19:16:38    6
2016-04-05 16:44:47    6
2016-04-07 04:46:51    6
2016-04-07 03:45:23    6
2016-04-06 15:16:45    6
2016-04-06 05:16:14    6
2016-04-06 14:44:55    6
2016-04-06 22:17:26    6
2016-04-06 08:44:19    6
2016-04-07 05:16:17    6
2016-04-06 15:45:50    6
2016-04-06 20:48:27    6
2016-04-07 06:46:12    6
2016-04-06 01:16:01    6
2016-04-06 07:46:11    6
2016-04-05 21:17:26    5
2016-04-05 12:46:18    5
2016-04-05 20:47:37    5
                      ..
2016-04-02 02:16:03    1
2016-03-26 10:16:07    1
2016-04-03 01:21:53    1
2016-03-13 11:42:40    1
2016-03-14 17:52:54    1
2016-03-21 07:16:29    1
2016-04-03 11:45:09    1
2016-03-24 14:49:03    1
2016-03-19 19:20:28    1
2016-03-26 16:45:43    1
2016-03-14 09:38:13    1
2016-03-19 16:15:24    1
2016-04-07 11:16:09    1
2016-03-24 11:46:00    1
2016-04-03 03:19:10    1
2016-04-04 11:41:44    1
2016-04-06 11:46:02    1
2016-03-06 03:44:39    1
2016-04-03 18:46:13    1
2016-04-06 22:46:35    1
2016-03-20 01:17:19    1
2016-04-04 07:49:15    1
2016-04-06 19:06:32    1
2016-03-29 23:47:52    1
2016-04-05 16:46:09    1
2016-03-21 12:48:35    1
2016-03-25 14:44:02    1
2016-04-06 13:46:15    1
2016-04-07 03:36:25    1
2016-03-10 03:46:23    1
Name: last_seen, Length: 39481, dtype: int64

In [7]:
autos.drop(['seller', 'offer_type', 'nr_of_pictures', 'date_crawled'], axis=1, inplace=True)

In [8]:
autos['price'] = autos['price'].str.replace('$', '').str.replace(',', '').astype(float)
autos['odometer'] = autos['odometer'].str.replace('km', '').str.replace(',', '').astype(int)
autos.rename({'odometer': 'odometer_km'}, axis=1, inplace=True)

The following columns have been removed due to the lack of variable data: `seller`, `offer_type`, `nr_of_pictures`<br>
`date_crawled` has been removed due to being unimportant in analysing the cars themselves.
<br>
`price` has been cleaned up and now stores its data as a float.
<br>
`odometer` has been renamed to `odometer_km`, cleaned up and now stores its data as an integer.

In [9]:
def filter_minmax(mi, ma, col):
    return (autos[col] > mi) & (autos[col] < ma)

In [10]:
#The tenth most expensive car sold of all time was sold at the price of 3 million so we'll use this as our maximum
maximum_price = 1666666

#Because this is a used car dealership we'll start including values about 1/3 the average of a new car. 
minimum_price = 6666

price = autos[filter_minmax(minimum_price, maximum_price, 'price')]['price']
price_average = price.mean()
price_median = price.median()
price_most_reoccuring = 8500 # was done using .value_count() on price

print('FOR CARS RANGING BETWEEN {} AND {}'.format(minimum_price, maximum_price))
print('=====')

print(f'AVERAGE COST: {price_average:,.2f}')
print(f'MEDIAN COST: {price_median:,.2f}')
print(f'MOST FREQUENT COST: {price_most_reoccuring:,.2f}')

FOR CARS RANGING BETWEEN 6666 AND 1666666
=====
AVERAGE COST: 15,395.58
MEDIAN COST: 11,600.00
MOST FREQUENT COST: 8,500.00

Using [this](https://www.motor1.com/features/308149/most-expensive-new-cars-ever/) list we took the least expensive, expensive car and used that as our maximum. The minimum price is set to a 1/3 of the price of an average brand new car. Given that this data set has its origins in Germany we then converted the price to DEM by dividing 3 million (our maximum) and 12,000 (our minimum) by 1.8 which would be the conversion from USD to DEM.<br><br>
Using the methods build into the pandas DataFrame and Series classes we find:
- The average cost - 15,000 DEM
- The median cost - 11,600 DEM
- The most frequent pricing - 8,500 DEM with 227 entries in our dataset of 14,000 within the specified price range.

In [11]:
ad_created = autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
reg_year = autos['registration_year'].value_counts().sort_index()
reg_month = autos['registration_month'].value_counts(normalize=True, dropna=False).sort_index()

In [12]:
reg_year

1000       1
1001       1
1111       1
1500       1
1800       2
1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      34
1961       6
1962       4
1963       9
        ...
2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, Length: 97, dtype: int64

I don't know much about cars, and currently I don't own a car, but registration year seems to be when the car was first registered, the dataset was taken in 2016 so everything past 2017 is either incorrect or preordered. Going furthur into the future everything past the 2800 point is gurentee to be incorrect, same with cars registered before the 1800s. <br><br>
A bit skepticle for cars in the early 20th century but it's possible seeing the modern car was made in 1886.

In [13]:
reg_month * 100 # 100 to see the values in actual percentages

0     10.150
1      6.564
2      6.016
3     10.142
4      8.204
5      8.214
6      8.736
7      7.898
8      6.382
9      6.778
10     7.302
11     6.720
12     6.894
Name: registration_month, dtype: float64

Other than the fact that there are 13 months \[0 or 12 probably means null] there doesn't seem to be any outliers in this data slice.

In [14]:
ad_created * 100

2015-06-11    0.002
2015-08-10    0.002
2015-09-09    0.002
2015-11-10    0.002
2015-12-05    0.002
2015-12-30    0.002
2016-01-03    0.002
2016-01-07    0.002
2016-01-10    0.004
2016-01-13    0.002
2016-01-14    0.002
2016-01-16    0.002
2016-01-22    0.002
2016-01-27    0.006
2016-01-29    0.002
2016-02-01    0.002
2016-02-02    0.004
2016-02-05    0.004
2016-02-07    0.002
2016-02-08    0.002
2016-02-09    0.004
2016-02-11    0.002
2016-02-12    0.006
2016-02-14    0.004
2016-02-16    0.002
2016-02-17    0.002
2016-02-18    0.004
2016-02-19    0.006
2016-02-20    0.004
2016-02-21    0.006
              ...
2016-03-09    3.324
2016-03-10    3.186
2016-03-11    3.278
2016-03-12    3.662
2016-03-13    1.692
2016-03-14    3.522
2016-03-15    3.374
2016-03-16    3.000
2016-03-17    3.120
2016-03-18    1.372
2016-03-19    3.384
2016-03-20    3.786
2016-03-21    3.772
2016-03-22    3.280
2016-03-23    3.218
2016-03-24    2.908
2016-03-25    3.188
2016-03-26    3.256
2016-03-27    3.090
2016-03-28    3.496
2016-03-29    3.414
2016-03-30    3.344
2016-03-31    3.192
2016-04-01    3.380
2016-04-02    3.508
2016-04-03    3.892
2016-04-04    3.688
2016-04-05    1.184
2016-04-06    0.326
2016-04-07    0.128
Name: ad_created, Length: 76, dtype: float64

The general trend here seems to be cars tend to get sold the longer they're up.(Or atleast get taken down by the owner) Don't really think thats at all surprising.

In [15]:
years = autos['registration_year']
lowest_year = 1950
highest_year = 2016
reg_year = years.loc[(years >= lowest_year) & (years <= highest_year)].value_counts(normalize=True).sort_index()
reg_year * 100

1950    0.006249
1951    0.004166
1952    0.002083
1953    0.002083
1954    0.004166
1955    0.004166
1956    0.010416
1957    0.004166
1958    0.008333
1959    0.014582
1960    0.070827
1961    0.012499
1962    0.008333
1963    0.018748
1964    0.024998
1965    0.035414
1966    0.045830
1967    0.056245
1968    0.054162
1969    0.039580
1970    0.093742
1971    0.056245
1972    0.072911
1973    0.054162
1974    0.049996
1975    0.039580
1976    0.056245
1977    0.045830
1978    0.097909
1979    0.072911
          ...
1987    0.156237
1988    0.295809
1989    0.377052
1990    0.822848
1991    0.741605
1992    0.814515
1993    0.927006
1994    1.374885
1995    2.735189
1996    3.008083
1997    4.224648
1998    5.109991
1999    6.249479
2000    6.986918
2001    5.630781
2002    5.276644
2003    5.680777
2004    5.701608
2005    6.280727
2006    5.641197
2007    4.799600
2008    4.647529
2009    4.370469
2010    3.326806
2011    3.403883
2012    2.756020
2013    1.679027
2014    1.387384
2015    0.831181
2016    2.741438
Name: registration_year, Length: 67, dtype: float64

To clean up our registration year a bit we'll make sure our data is as correct as can be without taking out too many data points. <br><br>
Our lower bound will be 1950, it could potentially be lower but cars made prior to the 1950s have to be maintained incredibly well.<br>Our upper bound will be 2016 because that's the year that this dataset was screen scrapped, while it removes quite a bit of datapoints from potential preorders for the 2017 year this ensures our data is more accurate by not including potential incorrect data from the future.
<br><br>
From this data and our previous analysis of the registration year we can conclude that most cars being sold have been registered for at least 10 years, with lower sell rates the closer it is to the most recent year.

In [35]:
brands_average_price = {}
brands_average_distance = {}

brands = ['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford']

# filtering the prices
autos = autos[filter_minmax(5000, maximum_price, 'price')]

# filtering the registration year
autos = autos[filter_minmax(1950, 2017, 'registration_year')]

for brand in brands:
    autos_filter = autos[autos['brand'] == brand]
    autos_fil_price_avg = autos_filter['price'].mean()
    autos_fil_dist_avg = autos_filter['odometer_km'].mean()
    
    brands_average_price[brand] = autos_fil_price_avg
    brands_average_distance[brand] = autos_fil_dist_avg

In [48]:
for brand, price in brands_average_price.items():
    print(f'The average cost of a {brand} vehicle is ${price:,.2f}.')
    print()

The average cost of a volkswagen vehicle is $12,392.59.

The average cost of a opel vehicle is $9,385.39.

The average cost of a bmw vehicle is $13,999.85.

The average cost of a mercedes_benz vehicle is $14,779.38.

The average cost of a audi vehicle is $15,127.31.

The average cost of a ford vehicle is $12,920.77.

In [49]:
for brand, distance in brands_average_distance.items():
    print(f'The average distance that a {brand} vehicle drove is {distance:,.2f}km.')
    print()

The average distance that a volkswagen vehicle drove is 107,437.54km.

The average distance that a opel vehicle drove is 91,081.24km.

The average distance that a bmw vehicle drove is 123,249.18km.

The average distance that a mercedes_benz vehicle drove is 118,777.14km.

The average distance that a audi vehicle drove is 115,725.84km.

The average distance that a ford vehicle drove is 91,714.91km.

We first filter down our dataset to remove outliers. Our first filter filtered for all cars within a certain price range, the range we choose was 5000 to `maximum_price` (1,666,666 the same max price as before). We choose 5000 instead of the previous min to give us more data to work with for the second filter. Our second filter removes all entries that are not within the registration years 1950-2016. <br><br> We then choose multiple brands, the brands I choose `['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford']` are the 6 brands with the most entries this means that the results will be less skewed compare to analysing brands with few entries.<br><br>We then loop through our dataset 6 times, one for each brand and filter the dataset furthur by selecting only points where the brand is equal to the brand we're looking for. We then extract out the `price` and the `odometer_km` from the data set and use the `.mean()` method to calculate the average price and distance. Finally we insert the results into two dictionaries, brands_average_price for the prices and brands_average_distance for the distance.

From this analysis we can see that audi, mercedes benz, bmw are the three most expensive of the six, volkswagen and ford are the in the middle of price ranges and opel vehicles are on the cheaper end.<br><br>

For the average distance traveled audi, mercedes benz, bmw on average have been driven more than the other three choices with volkswagen coming in forth. Ford and opel vehicles have been driven less than the other options with almost identical km driven with ~91km each.